<h2>Operator: {{operator.user}}</h2>

<!-- displays running totals -->
<fieldset>
  Subtotal: {{operator.subTotal}} <br>
  Tax: {{operator.tax}} <br>
  Total: {{operator.total}} <br>
</fieldset>

<p>
  <form action='/form-handler/{{operator.user}}' method='post'>
    
    <!-- loops through items in Assets/js/coffeeShop.js and displays each item
    and its price. If the item is priced by size, it is displayed appropriately. -->
    {{#each menu}}
      {{#if sizes}}
        <br>{{name}}:<br>
        {{#each sizes}}
          <input type='radio' name='item' value='{"item": "{{@../key}}", "size": "{{@key}}" }'>
          {{@key}}: ${{this}}<br>
        {{/each}}
      
      {{else}}
        <br><input type='radio' name='item' value='{"item": "{{@key}}", "size": "na"}'>
        {{name}}: {{amt}}<br>
      {{/if}}
    {{/each}}

		<input type='submit' value='Submit'>
		<input type='submit' value='Reset' formaction='/reset/{{operator.user}}'>
		<a href='/'>Logout</a>
	</form>
</p>
<p><a href='https://github.com/drakemain/cash_register/tree/node-app'>Source</a></p>